.navbar li {
  display: inline;
  list-style-type: none;
  /* Remove bullets */
  
  /* Remove padding */
  margin: 10px;
  /* Remove margins */
}

.header { 
  display: flex;
  flex-direction: row;
  width: 100vw; /* take up the full width of the viewport */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blueviolet;
  color: white;
  height: 5em;
}

.navbar a {
  text-decoration: none;
  color: white;
}