.home {
    position: abolute;
    gap:30px; 
    margin: 0 auto;
    /* width: 80%; */
    display: flex;
    flex: 1; 
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.home h1 { }


.col1 { 
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 3;
}

.col2 { 
    display: flex;
    flex-direction: column;
    flex:3;
 
}
.home-col {

   
}

.typed-roles { 
    font-size: 2rem; 
    color: #2b31e0;
    text-decoration: underline;
    font-weight: 600;
    
}

body {
    /* background-color: aqua; */
    display: flex;
    /* justify-content: center; */
}