#root {
  max-width: 100%; /* Changed from 1280px */
  margin: 0 auto;
  width: 100vw;
}

.App {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

html, body { 
  padding: 0; 
  margin: 0;
}

:root {
  --light-green: #b8f7ea;
  --bg-light: #fff;
  --text-light: #333;
  --bg-dark: #333;
  --text-dark: white;
}



.theme-light { 
  transition: all 0.3s ease-in-out;
  background-color: var(--light-green);
  color: var(--text-light);
}

.theme-dark { 
  transition: all 0.3s ease-in-out;
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

/* Apply theme to both App and header */
.App.theme-light,
.header.theme-light {
  background-color: var(--light-green);
  color: var(--text-light);
}

.App.theme-dark,
.header.theme-dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.containerNav { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



body { 
  
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}